//creating my own variables
@import "./node_modules/bootstrap/scss/bootstrap";
$body-background: rgb(227, 231, 221);
$brand-primary:black;
$primary-font-size: 18px;
$secondary-font-size: $primary-font-size / 2.75pt;
$main-content-class: "movies-item";
$card-color: #e0c4db;
$font: Georgia, Cambria, "Times New Roman", Times, serif;
$text-color: black;
$button-color: #FFFCF9;
$modal-color: rgb(217, 228, 209);
$button-text-color:#6D435A;
$button-hover: rgb(117, 184, 69);